@import "tailwindcss";

html {
  background-color: #1c1927;
}

@font-face {
  font-family: "Bootle";
  src: url("/fonts/Bootle.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

h1,
h2 {
  font-family: "Bootle";
  @apply text-shadow-[4px_0_0_#f5f1e8] text-[#1C1927];
}

@theme {
  --color-john: #abcab9;
  --color-paul: #e4b2ab;
  --color-george: #e6cc99;
  --color-ringo: #9cc8cd;
}

@utility arrow-btn {
  @apply fill-[#1C1927] opacity-75 size-20 group-hover:opacity-100 group-hover:scale-125;
}
